services:
  cs2-db:
    image: mariadb:latest
    container_name: cs2-db2
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=rootpassword
      - MARIADB_DATABASE=cs2
      - MARIADB_USER=cs2
      - MARIADB_PASSWORD=cs2password
    volumes:
      - ./data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized"]
      start_period: 60s
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - skyy-network

networks:
  skyy-network:
    driver: bridge
